{% extends 'simpleTemplate.html.twig' %}



{% block register %}

    <a href="/" class="nav-link">Retour à l'accueil</a>
    {% block title %}Nouvel Utilisateur{% endblock %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}