{% extends 'simpleTemplate.html.twig' %}
{% block newEvent %}

    <a href="/" class="nav-link">Retour à l'accueil</a>
    {% block title %}Nouvel Evènement{% endblock %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_row(form.brochure) }}
    {{ form_end(form) }}
{% endblock %}
