{% block listEvents %}
    <a href="/events/new" class="nav-link">New event</a>

    {% if events %}
    {% for event in events %}


        <div class="row schedule-item">
            <div class="col-md-2"><time>09:30 AM</time></div>
            <div class="col-md-10">
                <h4>{{ event.titre }}</h4>
                <p>Fugit voluptas iusto maiores temporibus autem numquam magnam.</p>
            </div>
        </div>
        <a href="/event/{{ event.id }}" class="btn btn-dark">Show</a>
        <a href="/event/edit/{{ event.id }}" class="btn btn-light">Edit</a>
        <a href="#" class="btn btn-danger delete-event" data-id="{{ event.id }}">Delete</a>



    {%  endfor %}
{% else %}

{% endif %}
{% endblock %}